@import "../../globals.scss";
.artistsCont {
  padding: 0 20px;
  .topBar {
    justify-content: space-between;
    .title {
      color: $text-color;
      font-weight: 600;
      font-size: 26px;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
    .option {
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      color: $accent-color;
    }
  }
}

.artistsCarousel {
  overflow-x: auto;
  margin: 14px 0;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 24px !important;
  }

  .option {
    font-size: 14px !important;
  }
}
