@import "../globals.scss";
.bodyWrapper {
  width: 100%;
  height: 100%;
  padding-left: 20px;

  .bodyContent {
    background-color: $fg-color;
    height: 100%;
    width: calc(100% - 20px);
    border-radius: 27px;
  }
}
