@import "../../globals.scss";
.artistCardCont {
  width: 330px;
  height: 120px;
  background-color: $cont-color;
  box-shadow: 0px 24px 30px -15px rgba(0, 0, 0, 0.37);
  border-radius: 21px;
  margin-bottom: 12px;
  cursor: pointer;

  .artistCardContent {
    width: 320px;
    height: 100%;
    padding: 0 11px;
    gap: 18px;

    .left {
      display: flex;
      align-items: center;
      div {
        width: 100px;
        height: 100px;
        border-radius: 14px;
        background-size: cover;
      }
    }

    .right {
      flex-direction: column;
      color: white;

      .name {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 6px;
      }

      .playMinutes,
      .likedSongs {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 4px;

        svg {
          margin-right: 6px;
          color: $accent-color;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
